# Custom
trace_mp_*.html
trace.html
*~
*.blob
*.kate-swp
*.fuse_hidden*
*.xdebug_tksurfer
*.pyc
*.swp
*.simg
.ipython/
.pytest_cache/
.vagrant/
/.cache/
/.mypy_cache/
/.tox/
/.venv/
/build/
/dist/
/doc/excluded.txt
/doc/source/api
/src/

# PyCharm
/.idea/workspace.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
/.Python
/env/
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/.eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
/htmlcov/
/.tox/
/.coverage/
/.coverage.*
/.cache/
/nosetests.xml
/coverage.xml
/*,cover
/.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
/doc/build/

# PyBuilder
/target/

# pyenv python configuration file
/.python-version
